.custom-button {
    -fx-cursor: hand;
    -fx-background-color: #0e3954;
    -fx-padding: 5px 5px;
    -fx-height: 8px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-transition: background-color 0.3s;
}

.custom-button:hover {
    -fx-background-color: rgba(65, 121, 178, 0.7);
}


.custom-button-active {
    -fx-cursor: hand;
    -fx-padding: 5px 5px;
    -fx-height: 8px;
    -fx-background-color: #1d699d;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-color: #0e3954;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-transition: background-color 0.3s;
}

.custom-button-active:hover {
    -fx-background-color: rgba(65, 121, 178, 0.7);
}


.custom-button-management {
    -fx-cursor: hand;
    -fx-padding: 5px 5px;
    -fx-height: 8px;
    -fx-background-color: #193e7a;
    -fx-text-fill: white;
    -fx-alignment: center;
    /*-fx-border-color: #0e3954;*/
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-transition: background-color 0.3s;
}

.custom-button-management:hover {
    -fx-background-color: rgba(65, 121, 178, 0.7);
}


/* Define the base style for the button */
.button {
    -fx-background-color: #4CAF50; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-family: "Arial", sans-serif; /* Button font family */
    -fx-font-size: 10px; /* Button font size */
    -fx-font-weight: bold; /* Button font weight */

    -fx-border-radius: 5px; /* Button border radius */
    -fx-cursor: hand; /* Change cursor to hand on hover */
    -fx-border-width: 2px; /* Button border width */
    -fx-border-color: transparent; /* Button border color */
    -fx-background-insets: 0; /* Button background insets */
    -fx-focus-traversable: false; /* Remove focus border */
    -fx-transition: all 0.3s; /* Smooth transition for hover effect */
}

/* Define the hover effect */
.button:hover {
    -fx-background-color: #388E3C; /* Change background color on hover */
    -fx-border-color: #2E7D32; /* Change border color on hover */
}


.onPurple {
    -fx-text-fill: purple;
}

.onPurple:hover {
    -fx-background-color: black; /* Change background color on hover */
    -fx-border-color: white; /* Change border color on hover */
}


.dialog-pane {
    -fx-background-color: #f0f0f0;
}

.dialog-header {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.dialog-content {
    -fx-font-size: 14px;
}

.dialog-button-bar {
    -fx-background-color: #333333;
}

.dialog-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.label-with-bottom-line {
    -fx-border-width: 0 0 1 0; /* Толщина границы (только снизу) */
    -fx-border-color: black; /* Цвет границы */
    -fx-border-style: solid; /* Стиль границы (сплошная линия) */
}



















.red-roulette-stake-button {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: #FF0900;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-content-display: center;

    -fx-padding: 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;

    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.red-roulette-stake-button:hover {
    -fx-background-color: #651b18;
    -fx-transition: background-color 0.3s;
}

.red-roulette-stake-button-active {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: rgba(255, 9, 0, 0.18);
    -fx-text-fill: white;
    -fx-border-color: rgba(171, 167, 167, 0.47);
    -fx-content-display: center;
    -fx-padding: 5px 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.red-roulette-stake-button-active:hover {
    -fx-background-color: rgba(0, 255, 107, 0.16);
    -fx-transition: background-color 0.3s;
}





.black-roulette-stake-button {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-content-display: center;

    -fx-padding: 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;

    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.black-roulette-stake-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.27);
    -fx-transition: background-color 0.3s;
}

.black-roulette-stake-button-active {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: rgba(0, 0, 0, 0.13);
    -fx-text-fill: white;
    -fx-border-color: rgba(171, 167, 167, 0.47);
    -fx-content-display: center;
    -fx-padding: 5px 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.black-roulette-stake-button-active:hover {
    -fx-background-color: rgba(0, 0, 0, 0.22);
    -fx-transition: background-color 0.3s;
}



.green-roulette-stake-button {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color:  #1A7F49;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-content-display: center;

    -fx-padding: 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;

    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.green-roulette-stake-button:hover {
    -fx-background-color: rgba(26, 127, 73, 0.37);
    -fx-transition: background-color 0.3s;
}

.green-roulette-stake-button-active {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: rgba(26, 127, 73, 0.32);
    -fx-text-fill: white;
    -fx-border-color: rgba(171, 167, 167, 0.47);
    -fx-content-display: center;
    -fx-padding: 5px 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.green-roulette-stake-button-active:hover {
    -fx-background-color: rgba(0, 255, 107, 0.09);
    -fx-transition: background-color 0.3s;
}



.pair-roulette-stake-button {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color:  #BE6B1E;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-content-display: center;

    -fx-padding: 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;

    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}

.pair-roulette-stake-button:hover {
    -fx-background-color: rgba(190, 107, 30, 0.37);
    -fx-transition: background-color 0.3s;
}

.pair-roulette-stake-button-active {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: rgba(190, 107, 30, 0.45);
    -fx-text-fill: white;
    -fx-border-color: rgba(171, 167, 167, 0.47);
    -fx-content-display: center;
    -fx-padding: 5px 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-focus-traversable: false;
    -fx-transition: all 0.3s;

    /* Добавляем выравнивание по центру */
    -fx-alignment: center;
}


.pair-roulette-stake-button-active:hover {
    -fx-background-color: rgba(190, 107, 30, 0.63);
    -fx-transition: background-color 0.3s;
}



